<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="text/css" media="screen">
      body {
        padding: 0;
        margin: 0;
        
        font-family: monserrat;
      }

      nav {
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        color: white;
        font-size: 30px;
        height: 5vh;
      }

      .mainDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .search{
        padding: 0 20px;
      }
      .searchBar {
        width: 31%;
        height: 4vh;
        font-size: 15px;
        padding: 10px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-bottom: 1px solid black;
      }
      .searchButton {
        width: 9vw;
        background-color: rgb(199, 206, 209);
        border: none;
        height: 7vh;
        width: 7vw;
      }
      h2 {
        text-align: center;
        font-size: 40px;
      }
      .container {
        background-color: rgba(255, 255, 255, 0.986);
        display: flex;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        flex-direction: column;
        width: 25%;
        height: 60vh;
        padding-bottom: 30px ;
        margin: 20px;
        color: black;
      }
      .containerImage {
        width: 25vw;
        height: 30vh;
      }
      .containerDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .pText{
        padding: 0 15px;
      }
      a {
        text-decoration: none;
        padding: 0 15px;
        font-size: 25px;
        color: white;
      }
      h2{
                padding: 10px 0;
                font-size: 50px;
               
            }
    </style>
  </head>
  
  <body>
  
    
    <nav>
      <a href="/"> Home</a>
      <div class="navLi">
        <a href="/add_direct">New Product</a>
        <a href="/display">Products</a>
      </div>
    </nav>
    <h2>Products</h2>
    <form action="/display" method="GET">
      <div class="search">
      <input
        class="searchBar"
        name="search"
        type="text"
        placeholder="Search For Products"
      />
      <input
        class="searchButton "
        value="search"
        type="submit"
      />
      <!-- <button onclick="search()" submit="./filter" class="searchButton">
        Search
      </button> -->
    </div>
    </form>
    <br />
    <br />
    <br />
    
    <div class="mainDiv">
      <div>
        
      </div>
      <div class="containerDiv">
        <% users.forEach(function(user) { %>
        <div class="container">
          <div>
            <img class="containerImage" src="<%=user.photo%>" />
          </div>
          <div class="pText">
            <p style="font-size: 22px; font-weight: bold; color: black;"><%=user.user_name%></p>
            <p style="font-size: 17px;""><%=user.user_product%></p>
            <p style="font-size: 17px;""> <span>$ <%=user.user_price%></span></p>
          </div>
         

          <div style="padding: 15px 5px; display: flex; justify-content: space-between;">
            
            <a
            
              class="aDisplay"
              href="deleteOne/<%= user._id %>"
              style="color: black; 
              padding: 5px 10px; font-weight: bold;"
              >Delete</a
            >
            <a
              class="aDisplay"
              href="/edit/<%= user._id %>"
              style="background-color: black; 
              border: 1px solid black;
              color: white;
              margin: 0 10px;
              padding: 5px 25px; 
              font-weight: bold;"
              >Edit</a
            >
          </div>
        </div>
        <% }) %>
        
      </div>
      
    </div>
    <br>
    <br>
    <br>
 
    <hr>
       <a style="width:8vw;
       height: 5vh; 
        float: right;
        color: black; 
        text-decoration: none;
        background-color: transparent;
        padding: 10px 20px;
        margin: 10px 85px;
        border: 2px solid black;
        border-radius: 5px;
        font-weight: bolder;
         font-size: x-large;
         cursor: pointer;" href="deleteAll/<%=users.userDetail%>">Delete All</a>
  </body>
</html>
