<link href="/cssResp/display.css" rel="stylesheet" type="text/css">
<body>
 <main style="height: auto;">
  <nav>
    <a class="navA" href="/"> Home</a>
    <a class="navA" href="/main">Display</a>
  </nav>
  <div class="headerSearch">
    <div class="headLink">
      <h2>Products</h2>
      <button class="btnLink"> <a class="btnLinkA" href="/add_direct">Add New</a></button>
    </div>
    <form class="search" action="/display" method="GET">

      <input class="searchBar" name="search" type="text" placeholder="Search For Products ......." />

      <input class="searchButton" value="Search" type="submit" />

    </form>


  </div>
  <br />
  <br />
  <br />

  <div class="mainDiv">
    
<!-- <div class="errSrc">
  <% if( locals.noMatch < undefined) { %>
    <div>
        <h3 style="color: red;"><%= locals.noMatch %></h3>
          <a class="srcLinkA" href="/display">Cancel</a>
      </div>
    <% } %>
</div> -->
    <div class="containerDiv">
      <div class="errSrc">

    
      </div>
      <% users.forEach(function(user) { %>
      <div class="container">
        <div>
          <img class="containerImage" src="<%=user.photo%>" />
        </div>
        <div class="pText">
          <p style="font-size: 22px; font-weight: bold; color: black;"><%=user.user_name%></p>
          <p style="font-size: 17px;""><%=user.user_product%></p>
              <p style=" font-size: 17px;""> <span>$ <%=user.user_price%></span></p>
        </div>


        <div style="padding: 10px 5px; display: flex; justify-content: space-between; height: 40px;">

          <a class="aDisplay" href="deleteOne/<%= user._id %>" style="color: black; 
                margin-left: 10px;
                padding: 5px 15px; font-weight: bold;
                border: 1px solid black;
                text-align: center;
                " onclick="return confirm('Are you sure you wish to delete this Product?');">Delete</a>


          <a class="aDisplay" href="/edit/<%= user._id %>" style="background-color: black; 
                border: 1px solid black;
                color: white;
                margin: 0 10px;
                text-align: center;
                padding: 5px 25px; 
                font-weight: bold;">Edit</a>
        </div>
      </div>
      <% }) %>

    </div>
    <br>
    <br>

    

  </div>
 </main>
 
 <a href="deleteAll/<%=users.userDetail%>" class="delAll"
  onclick="return confirm('Are you sure you wish to delete All Product?');">Delete All</a>
   <br>
   <br>
   <br>
</body>
